################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vault.API/bin/Debug/net8.0
/Vault.API/obj
/Vault.API.Tests/bin
/Vault.API.Tests/obj
